<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf8">
		<title>Does it work?</title>
		<link rel="stylesheet" href="./styles.css">
	</head>

	<body>

		<div class="container">

			<div class="card" style="">

			<img src="./brand.svg" id="brand" alt="talkapply. brand">

				<form>

					<input placeholder="Nummer" id="login-number" type="text">
					<input class="button-primary no-padding" value="Login" type="submit" id="login-button">

					<p class="small">
						Möchtest du eine <a href="#">neue Sitzung erstellen</a>? oder die 
						<a href="#">Datenschutzerklärung und das Impressum</a> ansehen?
					</p>

				</form>

				<!--<div class="sk-folding-cube">
			        <div class="sk-cube1 sk-cube"></div>
			        <div class="sk-cube2 sk-cube"></div>
			        <div class="sk-cube4 sk-cube"></div>
			        <div class="sk-cube3 sk-cube"></div>
			    </div>-->
		    </div>

		</div>

		<script type="text/javascript" src="./scripts.js"></script>

	</body>	

</html>