<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf8">
		<title>Does it work?</title>
		<link rel="stylesheet" href="./styles.css">
	</head>

	<body>

		<div class="container">

			<h1>If it works...</h1>
			<p>I'm awesome! 8)</p>

			<div class="sk-folding-cube">
		        <div class="sk-cube1 sk-cube"></div>
		        <div class="sk-cube2 sk-cube"></div>
		        <div class="sk-cube4 sk-cube"></div>
		        <div class="sk-cube3 sk-cube"></div>
		    </div>

		</div>

		<script type="text/javascript" src="./scripts.js"></script>

	</body>	

</html>